/* Main styling */

body {
  background-color: #EBEBEB;
  font-family: -apple-system, BlinkMacSystemFont, 'Merriweather', serif;
  font-size: 17px;
  font-weight: 300;
  color: #636262;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

h2 {
  font-size: 25px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #D8D6D8;
}

a:hover {
  color: #3ecf8e;
}

.text-center {
  text-align: center;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  padding: 30px;
  background-color: white;
  margin: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.card p, h3 {
  margin-left: 10px;
}

.img-cirle {
  border-radius: 150%;
}

.list-inline {
  padding-left: 0px;
}

.btn-green{
  background-color: #3ecf8e;
  padding: 15px 15px;
  color: white;
  border-radius: 7px;
  display: inline-block;
  margin: 20px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.img-projects {
  width: 200px;
}

.img-top {
  width: 300px;
}

.btn-green:hover {
  color: white;
  background-color: #00D78B;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  transition: all .3s ease;
}

.list-inline {
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

#title {
  color: black;
  line-height: 0.5;
}

/* VIDEO BACKGROUND --> */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
